.cigarette_card {
  display: flex;
  flex-direction: column;
  width: 90px;
  /* remove justify-content: space-between */
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  align-content: center;
  gap: 8px; /* adds consistent spacing between image and title */
}

.cigarette_card_image {
  margin-bottom: 0; /* ensure no extra margin */
}

.cigarette_card_title {
  margin-top: 0; /* ensure no extra margin */
}